<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/addformstyles.css"></link>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row header">
        <h1>Add Comestics Form &nbsp;</h1>
        <h3>Fill out the form below to adding Cosmetics!</h3>
    </div>
    <div class="row body">
        <!--Dont forget form thymeleaf actions nesscary for thymeleaf to see route from controller and objects from model-->
        <form th:action="@{/ProcessCosmetics}" th:object="${cosmetics}" method="post">
            <ul>

                <li>
                    <p class="left">
                        <label for="cosmetic_brand" >Brand</label>
                        <!--Make sure to use proper thymeleaf attributes for forms and fields not th:text-->
                        <input th:field="${cosmetics.brand}" type="text" name="cosmetics_brand" placeholder="brand" />
                    </p>
                    <p class="left">
                        <label for="cosmetic-price">Price</label>
                        <input th:field="${cosmetics.price}"  type="text" name="price" placeholder="price" />
                    </p>
                    <p class="left">
                        <label for="cosmetic_rating">Rating</label>
                        <input th:field="${cosmetics.rating}"  type="text" name="rating" placeholder="rating" />
                    </p>
                </li>

                <li>
                    <p>
                        <label for="email">Inventory Quanity<span class="req">*</span></label>
                        <input th:field="${cosmetics.inventorynumber}" type="inventorynumber" name="inventorynumber" placeholder="Inventory Qunatiy" />
                    </p>
                </li>
                <li><div class="divider"></div></li>


                <li>
                    <input class="btn btn-submit" type="submit" value="Submit Comestic Item!"  th:href="@{/ProcessCosmetics}"/>
                </li>

            </ul>
        </form>
    </div>
</div>
</body>
</html>